body {
  padding-top: 3.5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#row1 {
  /* background-color: #9e9e9e; */
  min-height: 400px;
  padding-top:60px;
  padding-bottom: 50px;
}

.labelReset {
  background-color: transparent;
  border: none;
  width: 150px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  color: rgb(116, 109, 109);
}

.hoverHelper label:hover{
  background: transparent;

  color: black;
}


#labelContainer {
  /* background: linear-gradient(#6c757d , white); */
  padding-bottom: 35px;
}

.content-rows {
  /* height: 800px; */
  /* border-top: 1px solid gray;
  border-bottom: 1px solid #80888d; */

}

.ava1 {
  height: 300px;
  width: 300px;
  opacity: 0.8;
}

.animation_gengar{
  height: 300px;
  width: 300px;
  display: none;
}

#titleText {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-size: 32pt;
  margin-top: 16px;
  margin-bottom: 0px;
}

#selfIntroduce {
  font-family: 'Shadows Into Light', cursive;
  opacity: 1;
  font-size: 14pt; 
}

.blogEntry {
  padding:16px;
}

#Arsenal {
  display: none;
  background: url("Arensal-post.jpg");
  height: 1920px;
  background-repeat: no-repeat;
  background-size:100% 100%;  
}

#Munich {
  display: none;
  background: url("Munich-post.jpg");
  height: 1920px;
  background-repeat: no-repeat;
  background-size:100% 100%;  
}

#Food {
  display: none;
  background: url("Munich-post.jpg");
  height: 1920px;
  background-repeat: no-repeat;
  background-size:100% 100%;  
}